.cardLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  width: 500px;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: rgba(207, 243, 255, 0.374);
}

.card {
  max-width: 600px;
  padding: 20px;
  font-size: large;
  margin-bottom: 10px;
}

.cardBody {
  width: 100%;
  max-width: 500px;
}

.formRow {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.formField {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.formField label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  color: rgb(6, 9, 10);
}

.formField input,
.formField select {
  margin-left: 10px;
  width: 80%;
  padding: 12px;
  border-radius: 4px;
  font-size: 14px;
  color: black;
}

.formField input:focus,
.formField select:focus {
  outline: none;
  border-color: #007bff;
}

.invalidfeedback {
  max-width: 80%;
  font-size: 15px;
  color: red;
  margin-top: 5px;
  margin-left: 12px;
  padding-left: 2px;
}

.subButton {
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.subButton:hover {
  background-color: #0056b3;
}

.formGroup {
  flex: 1;
  margin-right: 15px;
}

.formCheck {
  display: flex;
  align-items: center;
}

/* Invalid Feedback */
.invalidFeedback {
  color: #dc3545;
  font-size: 14px;
  margin-top: 5px;
}

/* Submit and Reset Buttons */
.formGroup:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 15px;
}

/* Checkbox Styles */
.formCheckInput {
  margin-right: 5px;
  margin-left: 5px;
}
